.screen-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error {
  color: red;
  display:block;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.list-nav {
  margin-right: 3px !important;
}
.padding-nav {
  padding-right: 3px;
}

.rootItem {
  margin-left:20px;
  margin-right:20px;
}

.tableInput {
  width:100%
}

.tableInputContainer {
  padding: 0px 0px 5px;
}

.purchaseImage {width:200px;height:300px}

/* CUSTOM TABLE */
#scrollTable {
  position: relative;
  overflow: hidden;
  padding-bottom:10px;
}

#scrollTable th {
  white-space: nowrap;
}

#scrollTable th:first-child div {
  border-left: none;
}

#scrollTable thead th div {
  position: absolute;
  z-index: 2;
  background-color: white;
  border-top: 1px solid black;
  padding: 1px;
  margin-left: 0;
}

#scrollTable tfoot th div {
  position: absolute;
  z-index: 2;
  background-color: white;
  padding:0px !important;
  border-bottom: 1px solid black;
  margin-left: 0;
  bottom:10px
}

#scrollTable thead div {
  top: 0;
}

#scrollTable tfoot div {
  bottom: 0;
}

.scrollTableContainer {
  max-height: 20em;
  overflow-y: scroll;
  outline: 1px solid dimgrey;
  outline-offset: -1px;
}
